.bodyFont {
    font-family:'OFL Sorts Mill Goudy TT','PT Sans', Helvetica, sans-serif;
}

.section-article {
    display:block; padding-left:0;font-family:'OFL Sorts Mill Goudy TT', georgia, times, serif;font-size:15px;white-space: wrap;
}

.divLoginDisplay {
    float:left; 
    height:200px;
    padding:5px 10px; 
    margins:auto;
    font-size: 13px;
    color:maroon;
    font-weight:900;
    text-decoration: none;
}

.big-buttons {
    width:40%;
}

/*
 The animate class is apart of the element and the ng-enter class
 is attached to the element once the enter animation event is triggered
*/
.reveal-animation.ng-enter {
  -webkit-animation: enter_sequence 1s linear; /* Safari/Chrome */
  animation: enter_sequence 1s linear; /* IE10+ and Future Browsers */
}
@-webkit-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
@keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}